<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="QueueTargetSAS" connectionString="?sv=2015-04-05&amp;ss=q&amp;srt=sco&amp;sp=a&amp;se=2016-09-23T00:13:21Z&amp;st=2016-09-21T16:13:21Z&amp;spr=https&amp;sig=Spb34pCdmNpTjWcFfmeGqQPxaPhZ8tapkSUMVDXDml0%3D"/>
  </connectionStrings>
</configuration>